html{

    background-color: black;
    color: white;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    
}

body{
    text-align: center;
}

table, th, td{
    width: 50%;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    text-transform: uppercase;
    font-size: 1.2em;
}

.imageBorder{
    border: 3px solid gray;
    text-align: center;
}